
.navigation {
  list-style-type: none;
  margin: 20;
  padding: 2;
  overflow: hidden;
  background-color: #c5c1b4;
}

.navlink {
  float: left;
}

li a {
  display: block;
  color: #003b49;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #d6d2c4;
}

li a:focus {
  outline-width: 3px;
  outline-style: solid;
  outline-color: #003b49;
}

body {
  background-color: #d6d2c4;
  color: #003b49;
}